html,
body {
      background-image: url('BG.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}
           


.header {
	background: #dac152;
	padding: 5px 0 0;
}

.header__logo {
	padding: 5px 0 5px;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	text-align: right;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-right: 16px;
}

.header__menu ul li.active a {
	background: #b4a861;
	color: #f8f8f8;
}

.header__menu ul li:hover a {
	color: #a89090;
}

.header__menu ul li:hover .dropdown {
	top: 62px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover .dropdown li a {
	background: transparent;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 82px;
	width: 150px;
	background: #b4a861;
	text-align: left;
	padding: 8px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #111111;
	font-weight: 500;
	padding: 5px 20px;
}

.header__menu ul li a {
	font-size: 15px;
	color: #000000;
	display: block;
	font-weight: 700;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	padding: 20px;
}

.header__menu ul li a span {
	position: relative;
	font-size: 17px;
	top: 2px;
}

.header__right {
	text-align: right;
	padding: 20px 0 15px;
}

.header__right a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	margin-right: 30px;
}

.header__right a:last-child {
	margin-right: 0;
}

.slicknav_menu {
	display: none;
}

img {width: 250px;
	height: 60px;
}
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}
p.outset {border-style: outset;} 

@media screen and (max-width:600px) {
	.column {
	  width: 100%;
}
}